extends layout.pug 
block number1 
    if error 
     p.failed  The space is empty, please fill the input
    if success
     p.succesed The input is filled up 
    form.form(action='/add' method='POST')
        input.input(type='text' placeholder='Write your todo here...' name='todo')
        button.btn Add

    
    div.todos 
     if todos.length
         each todo in todos
             p.todo 
                if todo.done 
                    a.done(href=`/${ todo.id}/update`)  #{todo.description}
                else
                    a.undone(href=`/${todo.id}/update`) #{todo.description}
                    a.delete(href=`/${todo.id}/delete`) Delete
     else 
         p.todo No any record yet  